a {
  color: #3d449a;
}
a:hover {
  color: #2f3475;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #3d449a;
}
.sp-megamenu-parent > li.active > a, 
.sp-megamenu-parent > li:hover > a,
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #3d449a;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #3d449a;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #343a84;
  background-color: #3d449a;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #272c63;
  background-color: #2f3475;
}
ul.social-icons >li a:hover {
  color: #3d449a;
}
.sp-page-title {
  background: #3d449a;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #3d449a;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #3d449a;
}
.sp-module .tagscloud .tag-name:hover {
  background: #3d449a;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #3d449a;
}
.search .btn-toolbar button {
  background: #3d449a;
}
.post-format {
  background: #3d449a;
}
.voting-symbol span.star.active:before {
  color: #3d449a;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #2f3475;
}
.entry-link,
.entry-quote {
  background: #3d449a;
}
blockquote {
  border-color: #3d449a;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #3d449a;
}
#sp-footer {
  background: #3d449a;
}
.sp-comingsoon body {
  background-color: #3d449a;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #3d449a;
  background-color: #3d449a;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #3d449a;
  background-color: #3d449a;
}
/***** PRESET *****/
h4.sppb-addon-title {
  background: url(../../images/presets/preset2/border-title2.png) no-repeat bottom left;
}
.lt-team-member:hover h4,
.lt-team-member:hover h6,
.lt-capabili-item:hover h4,
.lt-event-content h1,
.lt-event-content h2,
.lt-feature-item:hover h5,
.lt-feature-content-center em,
.lt-services-item:hover h4,
.lt-contact-first-item i,
.lt-get-quote-left p strong,
.lt-pricing-item h4,
.lt-pricing-item h6,
.lt-introduction .lt-intro-sub:hover h3,
.lt-banner-content .sppb-addon-title,
.lt-service-item:hover h3,
.lt-sub-team h4,
.lt-history-sub .lt-history-item:hover h3,
.lt-statistic i {
    color: #3d449a!important;
}
.button,
.lt-what-video,
.progress-bar-sept,
.lt-intro-item:before,
.lt-pricing-item:hover,
.sp-megamenu-parent > li > a::before,
.lt-call-item .button:hover,
.lt-team-member:hover span:before,
#lt-intro-section .tp-button:hover,
#lt-slider .tp-button:hover,
.lt-mobi-item:hover span i,
.lt-team-bottom-button,
.lt-intro-item span,
.lt-promod-right ul em,
.lt-feature-item i,
#lt-blog .moduleItemReadMore:hover,
#lt-slider .lt-button:hover,
.lt-get-quote-button,
.lt-team-bottom-button:hover,
.lt-services-item:hover em,
.lt-our-skill .lt-skill-sub p .expand,
.lt-slider .lt-button:hover,
.lt-introduction .lt-intro-sub i,
.lt-button:hover,
.lt-history-sub .lt-history-item:hover i {
    background: #3d449a!important;
}
.lt-check-out-content a:hover,
.blogDate {
    background: #3d449a;
}
.lt-slider .lt-button:hover,
.lt-button:hover {
    border: 3px solid #3d449a!important;
}
#lt-clients,
.lt-call-item .button:hover,
#lt-intro-section .tp-button:hover,
#lt-slider .tp-button:hover,
.lt-event-button,
#lt-slider .lt-button:hover,
#lt-testimonial #border-title img:hover,
.lt-services-item:hover em {
    border-color: #3d449a!important;
}
.projects-filter a.selected, .projects-filter a.selected:hover {
    background: #3d449a;
}
